<!DOCTYPE html>
<html lang="en">

<body>
  

{% include 'header.html' %}

<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">About Me</h1>
      </div>
    </div>
  </div>
  <!-- background shapes -->
  <img src="static/images/illustrations/leaf-bg-top.png" alt="illustrations" class="bg-shape-1 w-100">
  <img src="static/images/illustrations/dots-group-sm.png" alt="illustrations" class="bg-shape-2">
  <img src="static/images/illustrations/leaf-yellow.png" alt="illustrations" class="bg-shape-3">
  <img src="static/images/illustrations/leaf-orange.png" alt="illustrations" class="bg-shape-4">
  <img src="static/images/illustrations/dots-group-cyan.png" alt="illustrations" class="bg-shape-5">
  <img src="static/images/illustrations/leaf-cyan-lg.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>I am a web & python developer from Cairo, Egypt. I specialize in creating sites for individuals and small
          businesses. You shouldn’t have to settle for cheap solutions or generic templates. I provide custom designs
          at affordable prices.</p>
        <p>Deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
          architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia.</p>
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="static/images/about/pp.jpg" alt="author" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <img src="static/images/about/logo.PNG" alt="signature" class="img-fluid">
        <h4>Ibrahim Hammad</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- footer -->
{% include 'footer.html' %}
<!-- /footer -->

<!-- jQuery -->
<script src="static/plugins/jQuery/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="static/plugins/bootstrap/bootstrap.min.js"></script>
<!-- slick slider -->
<script src="static/plugins/slick/slick.min.js"></script>
<!-- filter -->
<script src="static/plugins/shuffle/shuffle.min.js"></script>

<!-- Main Script -->
<script src="static/js/script.js"></script>

</body>
</html>